+++
title = "Unikraft Summer of Code 2021"
linkTitle = "usoc21"

+++

{{< blocks/lead height="full" color="white" >}}
<div class="mx-auto mt-20">
	<img class="block landing-monkey" src="unikraft-summer-of-code-2021.svg" />
	<h3 class="fs-3 mb-4 ">A <b>free and virtual</b> Unikernel and library Operating Systems workshop <br /> held by members of the Unikraft community.</h3>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://bit.ly/USoC21Event">
		Sign up <i class="fas fa-pen ml-2 "></i>
	</a>
	<p class="lead mt-5">23rd August to 3rd September, 4pm-8pm CEST</p>
</div>
{{< /blocks/lead >}}


{{% blocks/lead color="primary" %}}
<b>Unikraft Summer of Code</b> is a Unikernel and library Operating Systems
workshop held by members of the Unikraft community including professors,
lecturers and PhD students from University POLITEHNICA of Bucharest, Lancaster
University, Manchester University and industry partners NEC Labs Europe GmbH.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-lightbulb" title="Learn Unikernel Intrinsics" %}}
From zero-to-hero the two week event holds a number of starter tutorials,
workshops and lessons on how to get build Unikraft unikernels for production
systems.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-search" title="Deep-dive Unikernel Systems" %}}
Along with tutorials, there will be a number of deep-dives Tech Talks from
members of the Unikraft community on core modules designed for performance,
security and mission critical systems!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-trophy" title="Hackathon & Prizes!" %}}
A two-day hackathon at the end of the workshop will held for teams or
individuals with prizes for the best projects!
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section >}}
	<div class="col">
		<h1 class="text-center">Unikraft provides extreme specialization for security and performance.</h1>
	</div>
{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-fighter-jet" title="Fast boot and migration time" %}}
10s of milliseconds or less (as little as 2.3ms).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-memory" title="Low memory footprint" %}}
Few MBs of RAM or less.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-lock" title="Strong security" %}}
Reduced attack surface and trusted compute base.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cubes" title="High density" %}}
8k guests on a single x86 server.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tachometer-alt" title="High performance" %}}
10-40Gbps throughput on a single guest CPU.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-hammer" title="Developer friendly" %}}
Easily extensible and packed with developer tools.
{{% /blocks/feature %}}
{{< /blocks/section >}}


{{< blocks/section >}}
	<div class="col">
		<h1 class="text-center mb-4">Learn how to build high-performance applications.</h1>
		<div class="text-center">
		<a class="btn btn-lg btn-primary mr-3" href="{{< relref "/docs" >}}">
			Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mr-3" href="https://bit.ly/USoC21Event">
			Sign up <i class="fas fa-pen ml-2 "></i>
		</a>
		</div>
	</div>
{{< /blocks/section >}}